<!DOCTYPE HTML>

<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/custom.css">
    <link rel="stylesheet" href="/stylesheets/buttons.css">
    <link rel="stylesheet" href="/stylesheets/hover.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
    <title>The Awesome HTML5 / CSS Catalogue</title>
    <script language="javascript">
        //INSERT INLINE SCRIPTS HERE
    </script>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
</head>

<body>
       <div class="header">
               <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#"><span class="logoText">UX</span><span class="titleText">Think? Breathe! Design</span></a>
                </div>

                <span class="nav text-primary navbar-right navbar-text m-2" />One stop for all your designing needs
            </div>
        </nav>
    </div>
       </div>
       <div id="wrapper" class="active">
    {{{body}}}
</div>
    <!--------- Text Box Sample 2--------->


<!-- Modal Transitions -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <div id="Content">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="CopyToClipboard('Content')" id="copyText" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>
        <!-------Modal Ends---------->

        <!-- Modal Background -->
<div class="modal fade" id="backgroundModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <div id="Content">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="CopyToClipboard('Content')" id="copyText" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>

<!-------Modal Ends---------->
        <!-- Modal Icons -->
<div class="modal fade" id="iconsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <div id="Content">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="CopyToClipboard('Content')" id="copyText" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>
        <!-------Modal Ends---------->





        <!-- Modal Border-->
<div class="modal fade" id="borderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <div id="Content">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="CopyToClipboard('Content')" id="copyText" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>
        <!-------Modal Ends---------->



        <!-- Modal Shadow and Glow -->
<div class="modal fade" id="shadowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <div id="Content">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="CopyToClipboard('Content')" id="copyText" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>
        <!-------Modal Ends---------->


                <!-- Modal Speech -->
<div class="modal fade" id="speechModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <div id="Content">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="CopyToClipboard('Content')" id="copyText" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>
        <!-------Modal Ends---------->



                <!-- Modal Curls -->
<div class="modal fade" id="curlsModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
      </div>
      <div class="modal-body">
        <div id="Content">

        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button"  onclick="CopyToClipboard('Content')" id="copyText" class="btn btn-primary">Copy</button>
      </div>
    </div>
  </div>
</div>
        <!-------Modal Ends---------->


    <footer class="footer myfooter bg-error">
        <div class="container">
            <p class="text-muted" style="margin-top: 3vh;">This is a demo version for the soon to be deployed HTML/CSS helper.</p>
            <p class="text-muted"><a href="mailto:Noida6EliLilly UI grp">Write to us </a>in case of help/suggestion/feedback.</p>
        </div>
    </footer>
    <script type="text/javascript">

        $('.effects #transitions a').on('click', function (e) {
            // e.preventDefault();
            // var val = window.getComputedStyle(document.getElementsByClassName($(this)[0].className)[0], null)
            // $('#exampleModalLong #Content').text(JSON.stringify(val));
            $('#exampleModalLong #Content').text('.hvr-grow {'+
  'display: inline-block;'+
  'vertical-align: middle;'+
  '-webkit-transform: perspective(1px) translateZ(0);'+
  'transform: perspective(1px) translateZ(0);'+
  'box-shadow: 0 0 1px transparent;'+
  '-webkit-transition-duration: 0.3s;'+
  'transition-duration: 0.3s;'+
  '-webkit-transition-property: transform;'+
  'transition-property: transform;'+
'}'+
'.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {'+
  '-webkit-transform: scale(1.1);'+
  'transform: scale(1.1);'+
'}');
            $('#exampleModalLong').modal('show');
        });


$('.effects #background a').on('click', function (e) {
            // e.preventDefault();
            // var val = window.getComputedStyle(document.getElementsByClassName($(this)[0].className)[0], null)
            // $('#exampleModalLong #Content').text(JSON.stringify(val));
            $('#backgroundModal #Content').text('.hvr-radial-in {'+
  'display: inline-block;'+
  'vertical-align: middle;'+
  '-webkit-transform: perspective(1px) translateZ(0);'+
  'transform: perspective(1px) translateZ(0);'+
  'box-shadow: 0 0 1px transparent;'+
  'position: relative;'+
  'overflow: hidden;'+
  'background: #2098D1;'+
  '-webkit-transition-property: color;'+
 'transition-property: color;'+
  '-webkit-transition-duration: 0.3s;'+
  'transition-duration: 0.3s;'+
'}'+
'.hvr-radial-in:before {'+
  'content: "";'+
  'position: absolute;'+
  'z-index: -1;'+
  'top: 0;'+
  'left: 0;'+
  'right: 0;'+
  'bottom: 0;'+
  'background: #e1e1e1;'+
  'border-radius: 100%;'+
  '-webkit-transform: scale(2);'+
  'transform: scale(2);'+
  '-webkit-transition-property: transform;'+
  'transition-property: transform;'+
  '-webkit-transition-duration: 0.3s;'+
  'transition-duration: 0.3s;'+
  '-webkit-transition-timing-function: ease-out;'+
 'transition-timing-function: ease-out;'+
'}'+
'.hvr-radial-in:hover, .hvr-radial-in:focus, .hvr-radial-in:active {'+
  'color: white;'+
'}'+
'.hvr-radial-in:hover:before, .hvr-radial-in:focus:before, .hvr-radial-in:active:before {'+
  '-webkit-transform: scale(0);'+
  'transform: scale(0);'+
'}');
            $('#backgroundModal').modal('show');
        });








$('.effects #icons a').on('click', function (e) {
            // e.preventDefault();
            // var val = window.getComputedStyle(document.getElementsByClassName($(this)[0].className)[0], null)
            // $('#exampleModalLong #Content').text(JSON.stringify(val));
            $('#iconsModal #Content').text('.hvr-icon-spin {'+
  'display: inline-block;'+
  'vertical-align: middle;'+
  '-webkit-transform: perspective(1px) translateZ(0);'+
  'transform: perspective(1px) translateZ(0);'+
  'box-shadow: 0 0 1px transparent;'+
  'position: relative;'+
  'padding-right: 2.2em;'+
'}'+
'.hvr-icon-spin:before {'+
  'content: "\f021";'+
  'position: absolute;'+
  'right: 1em;'+
  'padding: 0 1px;'+
  'font-family: FontAwesome;'+
  '-webkit-transition-duration: 1s;'+
  'transition-duration: 1s;'+
  '-webkit-transition-property: transform;'+
  'transition-property: transform;'+
  '-webkit-transition-timing-function: ease-in-out;'+
  'transition-timing-function: ease-in-out;'+
'}'+
'.hvr-icon-spin:hover:before, .hvr-icon-spin:focus:before, .hvr-icon-spin:active:before {'+
  '-webkit-transform: rotate(360deg);'+
  'transform: rotate(360deg);'+
'}');
            $('#iconsModal').modal('show');
        });



$('.effects #border a').on('click', function (e) {
            // e.preventDefault();
            // var val = window.getComputedStyle(document.getElementsByClassName($(this)[0].className)[0], null)
            // $('#exampleModalLong #Content').text(JSON.stringify(val));
            $('#borderModal #Content').text('.hvr-border-fade {'+
  'display: inline-block;'+
  'vertical-align: middle;'+
  '-webkit-transform: perspective(1px) translateZ(0);'+
  'transform: perspective(1px) translateZ(0);'+
  'box-shadow: 0 0 1px transparent;'+
  '-webkit-transition-duration: 0.3s;'+
  'transition-duration: 0.3s;'+
  '-webkit-transition-property: box-shadow;'+
  'transition-property: box-shadow;'+
  'box-shadow: inset 0 0 0 4px #e1e1e1, 0 0 1px transparent;'+
'}'+
'.hvr-border-fade:hover, .hvr-border-fade:focus, .hvr-border-fade:active {'+
  'box-shadow: inset 0 0 0 4px #2098D1, 0 0 1px transparent;'+
'}');
            $('#borderModal').modal('show');
        });


$('.effects #shadow a').on('click', function (e) {
            // e.preventDefault();
            // var val = window.getComputedStyle(document.getElementsByClassName($(this)[0].className)[0], null)
            // $('#exampleModalLong #Content').text(JSON.stringify(val));
            $('#shadowModal #Content').text('.hvr-box-shadow-outset {'+
  'display: inline-block;'+
  'vertical-align: middle;'+
  '-webkit-transform: perspective(1px) translateZ(0);'+
  'transform: perspective(1px) translateZ(0);'+
  'box-shadow: 0 0 1px transparent;'+
  '-webkit-transition-duration: 0.3s;'+
  'transition-duration: 0.3s;'+
  '-webkit-transition-property: box-shadow;'+
  'transition-property: box-shadow;'+
'}'+
'.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {'+
  'box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);'+
'}');
            $('#shadowModal').modal('show');
        });



$('.effects #speech a').on('click', function (e) {
            // e.preventDefault();
            // var val = window.getComputedStyle(document.getElementsByClassName($(this)[0].className)[0], null)
            // $('#exampleModalLong #Content').text(JSON.stringify(val));
            $('#speechModal #Content').text('.hvr-box-shadow-outset {'+
  'display: inline-block;'+
  'vertical-align: middle;'+
  '-webkit-transform: perspective(1px) translateZ(0);'+
  'transform: perspective(1px) translateZ(0);'+
  'box-shadow: 0 0 1px transparent;'+
  '-webkit-transition-duration: 0.3s;'+
  'transition-duration: 0.3s;'+
  '-webkit-transition-property: box-shadow;'+
  'transition-property: box-shadow;'+
'}'+
'.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {'+
  'box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);'+
'}');
            $('#speechModal').modal('show');
        });



$('.effects #curls a').on('click', function (e) {
            // e.preventDefault();
            // var val = window.getComputedStyle(document.getElementsByClassName($(this)[0].className)[0], null)
            // $('#exampleModalLong #Content').text(JSON.stringify(val));
            $('#curlsModal #Content').text('.hvr-box-shadow-outset {'+
  'display: inline-block;'+
  'vertical-align: middle;'+
  '-webkit-transform: perspective(1px) translateZ(0);'+
  'transform: perspective(1px) translateZ(0);'+
  'box-shadow: 0 0 1px transparent;'+
  '-webkit-transition-duration: 0.3s;'+
  'transition-duration: 0.3s;'+
  '-webkit-transition-property: box-shadow;'+
  'transition-property: box-shadow;'+
'}'+
'.hvr-box-shadow-outset:hover, .hvr-box-shadow-outset:focus, .hvr-box-shadow-outset:active {'+
  'box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.6);'+
'}');
            $('#curlsModal').modal('show');
        });







        function CopyToClipboard(Content) {
            if (document.selection) { 
                var range = document.body.createTextRange();
                range.moveToElementText(document.getElementById(Content));
                range.select().createTextRange();
                document.execCommand("Copy"); 

            } else if (window.getSelection) {
                var range = document.createRange();
                range.selectNode(document.getElementById(Content));
                window.getSelection().addRange(range);
                document.execCommand("Copy");
                alert("text copied") 
            }}
            $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
});
           
        $("a.transitions").click(function(e) {
        $(".effectsSub").css('display', 'none');
        $("#transitions").css('display', 'block');
});
        $("a.background").click(function(e) {
        $(".effectsSub").css('display', 'none');
        $("#background").css('display', 'block');
});
        $("a.icons").click(function(e) {
        $(".effectsSub").css('display', 'none');
        $("#icons").css('display', 'block');
});
         $("a.border").click(function(e) {
        $(".effectsSub").css('display', 'none');
        $("#border").css('display', 'block');
});
        $("a.shadow").click(function(e) {
        $(".effectsSub").css('display', 'none');
        $("#shadow").css('display', 'block');
});
         $("a.speech").click(function(e) {
        $(".effectsSub").css('display', 'none');
        $("#speech").css('display', 'block');
});
        $("a.curls").click(function(e) {
        $(".effectsSub").css('display', 'none');
        $("#curls").css('display', 'block');
});
    </script>
</body>

</html>
